#navbarColor02 {
    display: inline;
    text-align: right;
}
.nav-link {
    cursor: pointer;
}
.sign-up, .sign-in {
    background-color: blueviolet;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgb(51, 111, 131);
    color: aliceblue;
    cursor: pointer;
    border: 0px;
}
.sign-up {
    padding: 8px;    
}
.sign-in {    
    padding: 4px;
}
.sign-in:hover, .nav-link.sign-up:hover {
    background-color: aliceblue;
    border-radius: 4px;
    border: 1px;
    color: blueviolet;
    border: 0px;    
}
/* .sign-up:hover {
    padding: 8px;
}
.sign-in:hover {
    padding: 4px;
} */
.sign-links li {
    display: flex;
    position: relative;    
}
